@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* --- MOBILE STYLES --- */
.landing {
  height: calc(100% - 93px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding-bottom: 40%;
}

.landing .name {
  font-size: 60px;
}
.landing .description {
  font-size: 22px;
}

.landing .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.textContainer h1 {
  color: #101010;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

.textContainer h1:nth-child(1) {
  color: #101010;
  -webkit-text-stroke: 2px white;
}

.textContainer h1:nth-child(2) {
  color: white;
  animation: animate 4s ease-in-out infinite;
}

@media (min-width: 750px) {
  .landing .name {
    font-size: 100px;
  }

  .textContainer {
    padding-bottom: 8%;
  }
}
/* --- MEDIA QUERIES --- */

@media (min-width: 1200px) {
  .landing .name {
    font-size: 180px;
  }

  .landing .description {
    font-size: 32px;
  }

  .landingImage {
    bottom: 0;
    right: 80px;
  }

  .landing .socialIcons {
    flex-direction: column;
  }

  .textContainer {
    padding-bottom: 8%;
  }

}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
