/* --- MOBILE STYLES --- */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: var(--spacing);
}

.projectCard {
  color: white;
  /* border-radius: 3px; */
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: all 0.5s ease-in-out;
  padding: 0 !important;
  cursor: pointer;
  margin-bottom: 20px;
}

.row {
  padding: 0;
  margin: 0 0 40px 0;
}

.textWrap {
  transition: all 0.9s ease-in-out;
  z-index: 1;
}

.projectLink {
  text-decoration: none;
}

.imageContainer {
  display: flex;
  align-items: center;
  height: full;
}

.imageContainer img {
  height: 8em;
  align-items: center;
  transition: all 1.3s ease-in-out;
  justify-items: center;
}

.tech {
  font-size: 12px;
  white-space: nowrap;
}

.viewWork {
  font-size: 14px;
}

.projectTitle {
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
}

.githubLink {
  text-decoration: none;
}

.projectCard::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.closeModal {
  margin-left: 250px;
  margin-top: -20px;
}

.closeModal:hover {
  filter: brightness(100);
}

.modalTitle {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.projectDescription {
  margin-bottom: 10px;
  text-align: justify;
}

ol {
  margin-bottom: 40px;
}

.description-images{
  width: auto;
  justify-content: center;
}

/* --- MEDIA QUEIRES --- */

@media (min-width: 750px) {
  .projectCard {
    flex-direction: row;
    padding: var(--sm-spacing) !important;
    height: 300px;
    margin: 0px;
  }

  .portfolio {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }

  .projectCard:hover::before {
    opacity: 0;
  }

  .projectCard:hover .imageContainer img {
    scale: 1.1;
  }

  .imageContainer {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .imageContainer img {
    height: 12rem;
  }

  .textWrap {
    text-shadow: none;
  }

  .projectTitle {
    font-size: 30px;
    padding: 10px 0;
  }

  .viewWork {
    font-size: 16px;
  }

  .tech {
    font-size: 14px;
  }

}
